@model List<Alumno>

<div class="col-6 mx-auto">
    <h1>Alumnos</h1>
    <hr><br>
</div>

<div class="container">
    <div class="d-flex align-items-center justify-content-center">
        @if (User.IsInRole("Administrador"))
        {
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Modal">
                Crear
            </button>
        }
        @using (Html.BeginForm("GenerateReport", "Report", new { reportName = "Alumnos" }, FormMethod.Post))
        {
            <button type="submit" class="btn btn-dark m-1">Listado de Alumnos</button>
        }
        @using (Html.BeginForm("GenerateReport", "Report", new { reportName = "AlumnosCarrera" }, FormMethod.Post))
        {
            <button type="submit" class="btn btn-dark m-1">Alumnos por Carrera</button>
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Alumno</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form asp-action="Create" id="formulario" asp-controller="Alumnos" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" id="nombre" name="nombre" placeholder="Nombre Completo"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                                    <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="direccion">Dirección:</label>
                                    <input type="text" id="direccion" name="direccion" placeholder="Dirección"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="documento">Documento:</label>
                                    <input type="text" id="documento" name="documento" placeholder="Documento"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="text" id="email" name="email" placeholder="Email" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="carreraID">Carrera:</label>
                                    <select id="carreraID" name="carreraID" class="form-control" required>
                                        <option value="">Selecciona una carrera</option>
                                        @foreach (var item in ViewBag.CarrerasList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal para Asociar Asignaturas -->
<div class="modal fade" id="asociarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Asociar Asignaturas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="AsociarAsignaturas" asp-controller="Alumnos" method="post">
                    <input type="hidden" id="alumnoID" name="alumnoID" />
                    <p class="text-danger">Solo quedarán asociadas al alumno las asignaturas que selecciones en la
                        siguiente lista:</p>
                    <!-- Lista de asignaturas disponibles -->
                    <div class="form-group">
                        <label for="asignaturasDisponibles">Asignaturas Disponibles:</label>
                        <select id="asignaturasDisponibles" name="asignaturas" class="form-control" multiple>
                            <option disabled value="">Selecciona la/s asignatura/s a asociar</option>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-dark">Asociar Asignaturas</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container col-10">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Carrera</th>
                <th>Documento</th>
                <th>Dirección</th>
                <th>Email</th>
                @if (User.IsInRole("Administrador"))
                {
                    <th class="text-center">Acciones</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var alumno in Model)
            {
                <tr>
                    <td>@alumno.Nombre</td>
                    <td>@alumno.FechaNacimiento.ToString("dd-MM-yyyy")</td>
                    <td>@alumno.Carrera.Nombre</td>
                    <td>@alumno.Documento</td>
                    <td>@alumno.Direccion</td>
                    <td>@alumno.Email</td>
                    @if (User.IsInRole("Administrador"))
                    {
                        <td class="text-center btn-group">
                            <button
                                onclick="pasarDatos(@alumno.AlumnoID, '@alumno.Nombre', @alumno.CarreraID, '@alumno.FechaString', @alumno.Documento, '@alumno.Direccion', '@alumno.Email')"
                                type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Modal">
                                Editar
                            </button>
                            <button onclick="actualizarAsignaturas(@alumno.AlumnoID)" type="button" class="btn btn-dark"
                                data-bs-toggle="modal" data-bs-target="#asociarModal">
                                Asignaturas
                            </button>
                            <form asp-action="Delete" asp-controller="Alumnos" asp-route-id="@alumno.AlumnoID" class="d-inline">
                                <button class="btn btn-dark" type="submit">Eliminar</button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script>
    function pasarDatos(id, nombre, carrera, fecha, documento, direccion, email) {
        var form = document.getElementById('formulario');
        form.action = '/Alumnos/Edit/' + id;
        document.getElementById('nombre').value = nombre;
        document.getElementById('carreraID').value = carrera;
        document.getElementById('fechaNacimiento').value = fecha;
        document.getElementById('documento').value = documento;
        document.getElementById('direccion').value = direccion;
        document.getElementById('email').value = email;
        console.log(id, nombre, carrera, fecha, documento, direccion, email);
    }

    function actualizarAsignaturas(alumnoID) {
        // actualizamos el valor de asignatura seleccionada
        document.getElementById("alumnoID").value = alumnoID;

        // Realizar una solicitud AJAX para actualizar la Lista de alumnos
        $.ajax({
        type: 'POST',
        url: '/Alumnos/ActualizarListaAsignaturas',
        data: { alumnoID: alumnoID },
        success: function (data) {
            // Limpiar el contenido actual del select
            $('#asignaturasDisponibles').empty();

            // Agregar la nueva lista de asignaturas al select
            $.each(data, function (index, asignatura) {
                $('#asignaturasDisponibles').append($('<option>', {
                    value: asignatura.id,
                    text: asignatura.nombre
                }));
            });

            // Abrir el modal después de recibir la lista de alumnos
            $('#asociarModal').modal('show');

            console.log(data);
        },
        error: function (error) {
            console.log("Error en la solicitud AJAX:", error);
        }
    });
    }

    // js para no presionar ctrl al seleccionar alumnos
    $('#asignaturasDisponibles').on('mousedown', 'option', function (e) {
        e.preventDefault();
        
        var originalScrollTop = $(this).parent().scrollTop();
        
        $(this).prop('selected', !$(this).prop('selected'));
        
        var self = this;
        $(this).parent().focus();
        
        setTimeout(function () {
            $(self).parent().scrollTop(originalScrollTop);
        }, 0);

        return false;
    });

</script>